@model SlidersCreateVM




<div class="container mt-3">
    <form class="form-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label>Slider</label>
            <div>
                <input asp-for="Image" class="">
                <span class="text-danger" asp-validation-for="Image"></span>
                <br />
                <label>Slider Name</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Slider name">
                <span class="text-danger" asp-validation-for="Name"></span>

            </div>
        </div>
        <button type="submit" class="btn btn-success mr-2">Create</button>
        <a asp-action="Index" asp-controller="Slider" class="btn btn-primary">Back</a>
    </form>
</div>

