@model SlidersDetailVM


<div style="display: flex; flex-direction: column; align-items: center; width: 100%; margin-top:20px">
    <table class="table table-bordered" style="height:100px" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
            </tr>
        </thead>
        <tr>
            <td>
                <img src="~/img/@Model.Image" width="100px" height="100px" />
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
    </table>
    <div style="margin-top: 20px;">
        <!-- Adjust margin-top as needed -->
        <a asp-action="Index" asp-controller="Slider" class="btn btn-primary" style="position: absolute; left: 18%;">Back</a>
    </div>
</div>
